{% extends 'base.html' %}
{% block header_text %}Start a new To-Do list{% endblock %}
{% block form_action %}/lists/new{% endblock %}

<!--<html>-->
<!--    <head>-->
<!--        <title>To-Do lists</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>Your To-Do list</h1>-->
<!--        <form method="POST" action='/lists/new'>-->
<!--            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>-->
<!--            {% csrf_token %}-->
<!--        </form>-->

<!--&lt;!&ndash;        <table id="id_list_table">&ndash;&gt;-->
<!--&lt;!&ndash;            {% for item in items %}&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>{{forloop.counter}}: {{ item.text }}</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;            {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->
<!--    </body>-->
<!--</html>-->
